{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %}
{% block title %}Hello HomeController!{% endblock %} #}
{% block title %}{{ parent()  ~ '' ~ metaTitle }}{% endblock %}
{% block metadescription %}{{ metaDescription}}{% endblock %}
{% block openGraph %}

    <meta property="og:title" content="Fulljamdev - {{metaTitle}}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{metaDescription}}">
    <meta property="og:url" content="{{url(app.current_route)}}">
    <meta property="og:site_name" content="fulljamdev.fr">
    <meta property="og:image" content="{{absolute_url(asset("/images/about-me2.jpeg")) }}">
    {# <meta property="og:image" content="{{asset("/images/logos/logo-112.png")}}"> #}
{% endblock %}
{% block jsonLD %}{{ jsonLD|raw}}{% endblock %}
{% block canonical %}{{url('app_home')}}{% endblock %}





{% block importmap %}
    {{ importmap(['app','home']) }}
{% endblock %}

{% block body %}

    <section id="landing" aria-labelledby="landing-header" >
        <div class="landing__container">
            <h1 id="landing-header">Création de solutions web performantes de A à Z, de la conception au référencement</h1>
            
            <p class="intro">Je suis <strong><span class="name">Jeremy ANTOINE</span>, développeur web et expert SEO freelance</strong>, pour des sites internets, des applications et des outils numériques performants.</p>
            <div class="buttons__container">
                <a href="#resume" class="button button--secondary">Mon parcours</a>
                <a href="#contact" class="button button--primary">Contactez-moi</a>
            </div>
        </div>
    </section>

    <section id="about" aria-labelledby="about-header">
        <div class="about__container">
            <div class="about__infocontainer" role="group" aria-label="Présentation de ma passion et de mon approche du développement">
                <h2 id="about-header"  class="header-2">
                    Ma passion pour le développement web
                </h2>
                <p class="about__text">
 
                    Je suis avant tout <strong>passionné, curieux et à l’écoute</strong>. Je crois qu’un projet web n’est pas seulement du code. C’est une aventure qui commence bien avant, dans la réflexion et la conception, et qui se poursuit après, <strong>dans la maintenance et la visibilité grâce au SEO</strong>.
                    
                </p>
                <p class="about__text">
                    La réussite, pour moi, passe par la synergie et la passion commune. Un projet prend réelement vie lorsqu’il est partagé et collaboratif. J’aime échanger, apprendre des autres et transmettre mes connaissances. Je privilégie l’écoute et la coopération pour <strong>créer des solutions solides, accessibles et durables</strong>. 
                </p>
            </div>
            <div class="about__imagecontainer">
                {# <div class="about__image"> #}
                    <img src="{{asset("images/about-me.jpeg")}}" alt="Photo de Jeremy Antoine" loading='lazy'>
                    <figcaption>Jeremy Antoine travaillant sur un projet web.</figcaption>
                {# </div> #}
            </div>
        </div>
    </section>

    <section id="resume" aria-labelledby="resume-header">

        <div  class="resume__container">
            <div class="resume__title">
                <h2  id="resume-header" class="header-2">Comment j’ai évolué dans le web et le SEO au fil des années ?</h2>
            </div>

            <div class="resume__experiences">
            

                {% for experience in experiences %}
                    
                    <article class="experience" aria-label="experience au poste de {{ experience.title }}">
                        <div class="experience__timeline">
                            <div class="timeline__logo">
                                {{ ux_icon('mynaui:briefcase') }}
                            </div>
                            <div class="timeline__line"></div>
                        </div>
                        <div class="experience__description">
                            <div class="description__header" role="group" aria-label="Détails de l'expérience : {{experience.title}} chez {{experience.entreprise}}">
                                <div class="header__poste">
                                        <h3 class="header-3">
                                            {{experience.title}}
                                        </h3>
                                    </div>
                                <p class="header__location">{{experience.type}} - {{experience.entreprise}}</p>
                                <p class="header__date">{{experience.beginAt|date('M-Y')}} - {{ experience.endAt is same as null ?  "Aujourd'hui" : experience.endAt|date('M-Y')}}</p>
                            </div>
                            <div class="description__infos" role="group" aria-label="Description de l'expérience : {{experience.title}} chez {{experience.entreprise}}">
                                    <ul role="list" aria-label="Réalisations pour {{experience.title}} chez {{experience.entreprise}}">
                                        {% for about in experience.about %}
                                            <li>
                                                <p class="infos__text">
                                                    {{about}}.
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="contact" aria-labelledby="contact-header">
        <div class="contact__container">
            <h2 id="contact-header" class="header-2">
                Me contacter
            </h2>
            <p>
                Vous avez un projet ?
                <br>
                Vous souhaitez me contacter ?
                <br>
            </p>

            <a class="button button--primary" href="mailto:contact@fulljamdev.fr">M'envoyer un mail</a>
        </div>
    </section>

{% endblock %}
